.head {
    padding: 0px;
    margin: 0px;
}
h1 {
    color: white;
    margin: 0px;
    border: 0px;
    padding: 20px;
    display: flex;
    display: inline;
}
.head {
    background-color: red;
    display: flex;
}

.firstp {
    margin-top: 29px;
}
p {
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}

a {
    color: white;
    text-decoration: none;
    
    

}

a:hover {
    color: #009348;
}


body {
    background-color: #009348;
}
inline
.od {
    width: 350px;
    height:200px;
}

#link {
    text-align: right;
    font-weight: 701;
    margin: 0px;
    padding: 20px;
    

}

div {
    width: 100%;
    display: inline;
}

ol li {
    color: #e00023;
    font-weight: 701;
}

h2 {
    color: #e00023;
}

ul {
    color: white;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

